<h3><b>B</b>ody <b>M</b>ass <b>I</b>ndex Calculator</h3>


<form  id = "form" onsubmit="validateForm()">

  <label>Age</label>
  <input type="text"  id="age" autocomplete="off" required/>


   <fieldset>
    <legend >Gender</legend>
    <div  id="form-radio">     
    <input type="radio" id="f" name="radio"  checked="checked">
    <label  for="f">Female</label>         
    <input type="radio" id="m" name="radio">
    <label for="m">male</label>
    </div>
    </fieldset>   
<label for="height">Height (cm) </label>
<input type="text"  id="height" autocomplete="off" required>
<br/>
<label for = "weight">  Weight(kg) </label>
<input type="text"  id="weight" autocomplete="off" required>
</div>
<br/>
<br/>

<button type="button" id="submit">Submit</button>


</form>